.feed-list {
    padding: 25px 10px;
    width: calc(100% - 20px);
    max-width: 800px;
    margin: auto;
}

.feed-item {
    border: solid 1px rgba(0,0,0,0.2);
    border-radius: 15px;
    width: 100%;
    margin: 10px 0;
    position: relative;
}

.feed-item-edit {
    border: solid 5px rgb(255, 0, 0);
    border-radius: 15px;
    width: 100%;
    margin: 10px 0;
    position: relative;
}

.feed-item-add {
    border: solid 1px black;
    border-radius: 15px;
}


.post-add-button {
    padding: 10px;
}

.post-add-button:hover {
    cursor: pointer;
    font-weight: 700;
}

/* .button{
    color: green;
    width: 30px;
    height: 30px;
} */

.delete-item {
    right: 15px;
    top: 12px;
    color: grey;
    font-size: 18px;
}

.edit-item {
    right: 15px;
    top: 12px;
    color: grey;
    font-size: 18px;
}

.like-item {
    right: 15px;
    top: 12px;
    color: grey;
    font-size: 18px;
}

.delete-item:hover {
    font-weight: bold;
    cursor: pointer;
}

.edit-item:hover {
    font-weight: bold;
    cursor: pointer;
}

.like-item:hover {
    font-weight: bold;
    cursor: pointer;
}