.header {
  width: 100%;
  display: flex;
}
.logo{
  margin-top: 20px;
}

.header-content {
  list-style-type: none;
  padding: 40px 30px;
}

.home-link:hover {
  cursor: pointer;
}

button{
  width: 160px;
  height: 40px;
  margin: 10px;
}

button:hover{
  margin-bottom: 10px;
  font-weight: bold;
  cursor: pointer;
}